.Body{
    flex-grow: 1;
    padding: 4% 4% 4% 4%;
    height: 100%;
    overflow: auto;
    max-height: 80vh;
}

@media only screen and (min-device-width : 769px){
    .Body{
        padding: 2% 13% 2% 13%;
    }
}
