.MuiButtonBase-root.MuiListItem-root.WeatherDetails_weatherDetails__3YElX.MuiListItem-gutters.MuiListItem-button{
    align-content: unset;
    flex-direction: row;
    justify-content: space-between;
    align-items: unset;

}