.Header{
	background-color: #ff323d;
	color: white;
	flex-basis: 3rem;
	font-size: larger;
	font-weight: bold;
	display: flex;
	align-items: center;
	padding-left: 1rem;
}

.HeaderLogo {
    width: 6rem;
    margin-right: 0.5rem;
}

.HeaderText {
	font-size: 1.6rem;
}
