.NavBar{
    background-color: #ff323d;
    color: white;
    flex-basis: 3rem;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    font-size: larger;
    display: flex;
    position: sticky;
    top: 0;

}

.NavBar ul {
	list-style: none;
}

.NavBar li {
	padding: .5rem 0;
}

.NavBar a {
	text-decoration: none;
	color: inherit;
}

.Spacer{
    margin: 0% 1% 1% 1%;
}


